<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password</title>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Segoe+UI&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/password.css">
</head>

<body>
   <div class="container">

    <div class="login-box">

        <h1>Rajasthan Tourism</h1>

        <p class="subtitle">
            Explore Royal Heritage and Vibrant Culture of Rajasthan with Us!
        </p>

        <input 
            type="email"
            placeholder="Enter Email"
        >

        <input 
            type="password"
            placeholder="Enter Password"
            id="password"
        >
<div class="forgot-password">
                <a href="#">Forgot password?</a>
            </div>
        <button>
            Login
        </button>

    </div>

</div>
    <script src="/password.js"></script>
    
</body>

</html>